In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data/NASA Near-Earth Objects-CleanbyThang.csv')

df.head()

,id,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description,first_observation_year,last_observation_year,is_collidable
0,2001981,15.22,True,False,2.401900,5.370812,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...,19,32,True
1,2002059,15.97,False,False,1.700415,3.802244,AMO,1.238537,4.047945,1963-10-16,2021-04-15,Near-Earth asteroid orbits similar to that of ...,14,32,False
2,2002061,16.36,False,False,1.420872,3.177167,AMO,1.050403,3.478155,1960-10-22,2021-06-12,Near-Earth asteroid orbits similar to that of ...,13,32,False
3,2002062,17.10,False,False,1.010543,2.259644,ATE,0.790185,1.143633,1955-12-17,2019-11-10,Near-Earth asteroid orbits similar to that of ...,10,30,True
4,2002063,17.28,False,False,0.930154,2.079888,APO,0.701397,1.454804,1977-04-24,2021-12-02,Near-Earth asteroid orbits which cross the Ear...,23,32,True

In [19]:
missing_values = [".", "?", "_", "-", "", "None", "NULL", "Not", "|", np.nan]
for value in missing_values:
    print("Number of missing values: ",df.isin([value]).sum().sum(), " for ", value)

Number of missing values:  0  for  .
Number of missing values:  0  for  ?
Number of missing values:  0  for  _
Number of missing values:  0  for  -
Number of missing values:  0  for
Number of missing values:  0  for  None
Number of missing values:  0  for  NULL
Number of missing values:  0  for  Not
Number of missing values:  0  for  |
Number of missing values:  0  for  nan