In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../../data/NASA Near-Earth Objects-Sampling.csv', index_col=0)


df.head()

,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description,first_observation_year,last_observation_year,is_collidable
id,,,,,,,,,,,,,,
2001981,15.22,True,False,2.401900,5.370812,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...,19,32,True
2002059,15.97,False,False,1.700415,3.802244,AMO,1.238537,4.047945,1963-10-16,2021-04-15,Near-Earth asteroid orbits similar to that of ...,14,32,False
2002061,16.36,False,False,1.420872,3.177167,AMO,1.050403,3.478155,1960-10-22,2021-06-12,Near-Earth asteroid orbits similar to that of ...,13,32,False
2002062,17.10,False,False,1.010543,2.259644,ATE,0.790185,1.143633,1955-12-17,2019-11-10,Near-Earth asteroid orbits similar to that of ...,10,30,True
2002063,17.28,False,False,0.930154,2.079888,APO,0.701397,1.454804,1977-04-24,2021-12-02,Near-Earth asteroid orbits which cross the Ear...,23,32,True

In [3]:
df['first_observation_date'] = pd.to_datetime(df['first_observation_date'])
df['last_observation_date'] = pd.to_datetime(df['last_observation_date'])

In [4]:
df = df[~((df['last_observation_date'].dt.year < 2021) & (df['is_potentially_hazardous_asteroid'] == False))]
df.head()

,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description,first_observation_year,last_observation_year,is_collidable
id,,,,,,,,,,,,,,
2001981,15.22,True,False,2.401900,5.370812,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...,19,32,True
2002059,15.97,False,False,1.700415,3.802244,AMO,1.238537,4.047945,1963-10-16,2021-04-15,Near-Earth asteroid orbits similar to that of ...,14,32,False
2002061,16.36,False,False,1.420872,3.177167,AMO,1.050403,3.478155,1960-10-22,2021-06-12,Near-Earth asteroid orbits similar to that of ...,13,32,False
2002063,17.28,False,False,0.930154,2.079888,APO,0.701397,1.454804,1977-04-24,2021-12-02,Near-Earth asteroid orbits which cross the Ear...,23,32,True
2002100,16.23,False,False,1.508534,3.373184,ATE,0.468751,1.195322,1975-10-03,2021-12-02,Near-Earth asteroid orbits similar to that of ...,21,32,True

In [5]:
filename = '../../data/NASA Near-Earth Objects-Train.csv'
df.to_csv(filename,index=False)